<a href="https://colab.research.google.com/github/Reji20/Datascience--lab/blob/main/SVMbreastcancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("/content/breastcancer.csv")
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [3]:
x=df.iloc[:,2:32]
x.head()

   radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [4]:
y=df.diagnosis
y.head()

0    M
1    M
2    M
3    M
4    M
Name: diagnosis, dtype: object

In [5]:
y_num=pd.get_dummies(y)
y_num.tail()

     B  M
564  0  1
565  0  1
566  0  1
567  0  1
568  1  0

In [6]:
y=y_num.M
y.tail()

564    1
565    1
566    1
567    1
568    0
Name: M, dtype: uint8

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [8]:
svc=SVC()
svc.fit(x_train,y_train)

SVC()

In [9]:
y_pred_svc=svc.predict(x_test)
cm = confusion_matrix(y_test, y_pred_svc)
print("Confusion matrix: \n",cm)

Confusion matrix:
 [[89  1]
 [ 8 45]]

In [10]:
print("Classification report: \n",classification_report(y_test,y_pred_svc))

Classification report:
               precision    recall  f1-score   support

           0       0.92      0.99      0.95        90
           1       0.98      0.85      0.91        53

    accuracy                           0.94       143
   macro avg       0.95      0.92      0.93       143
weighted avg       0.94      0.94      0.94       143

In [11]:
print("Accuracy: ",accuracy_score(y_test,y_pred_svc))

Accuracy:  0.9370629370629371